Question 1 

Class test score

sum_test_score =  $5 + 8 + 10 + 12 + 12 + 12 + 13 + 14 + 14 + 15 + 16 + 18 + 18 + 20 + 20$ =  $207$

no_of_student = $15$

i. mean_test_score = 207 / 15 = 13.8